ul{
    color:blue;
}
.btn1{
position: absolute;
left: 80%;
bottom: 90%;
width:10rem;

background: #007FF4;
border-radius: 25px;
}

.best{
color: #002348;
font-family: serif;
margin-left: 5%;
margin-top: 0%;
}
.img1{
    margin: -20% auto auto 50%;
    width:50%;
    height:80%;
}
section{
    margin-top: 8rem;
    margin-left: 4rem;


color: #003B79;
}






